.title {
    padding-top: .5rem;
    margin:auto;
    color:aqua;
    font-size: 3rem;
    text-align: center;
    background-color: blue;
    height: 8rem;
    border-radius: 20px;
    max-width: 95%;
}

.user_access {
    text-align: center;
    margin:auto;
    color:aqua;
    background-color: blue
}